# http://editorconfig.org

root = true

[*]
charset = utf-8
max_line_length = 80
tab_width = 2
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
