{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "commonjs": true,
        "node": true,
        "es6": true
    },
    "rules": {
        "no-cond-assign": ["error", "always"],
        "no-console": ["error"],
        "no-constant-condition": ["error"],
        "no-control-regex": ["error"],
        "no-debugger": ["warn"],
        "no-dupe-args": ["error"],
        "no-dupe-keys": ["error"],
        "no-duplicate-case": ["error"],
        "no-empty": ["error"],
        "no-empty-character-class": ["error"],
        "no-ex-assign": ["error"],
        "no-extra-boolean-cast": ["error"],
        "no-extra-parens": ["error"],
        "no-extra-semi": ["error"],
        "no-func-assign": ["error"],
        "no-inner-declarations": ["error"],
        "no-invalid-regexp": ["error"],
        "no-irregular-whitespace": ["error"],
        "no-negated-in-lhs": ["error"],
        "no-obj-calls": ["error"],
        "no-prototype-builtins": ["error"],
        "no-regex-spaces": ["error"],
        "no-sparse-arrays": ["error"],
        "no-unexpected-multiline": ["error"],
        "no-unreachable": ["error"],
        "no-unsafe-finally": ["error"],
        "use-isnan": ["error"],
        "valid-jsdoc": ["off"],
        "valid-typeof": ["error"],

        "accessor-pairs": ["error"],
        "array-callback-return": ["error"],
        "block-scoped-var": ["error"],
        "complexity": ["error", 30],
        "consistent-return": ["error"],
        "curly": ["off", "all"],
        "default-case": ["error"],
        "dot-location": ["off"],
        "dot-notation": ["error"],
        "eqeqeq": ["error", "always"],
        "guard-for-in": ["warn"],
        "no-alert": ["error"],
        "no-caller": ["error"],
        "no-case-declarations": ["error"],
        "no-div-regex": ["error"],
        "no-else-return": ["error"],
        "no-empty-function": ["error"],
        "no-empty-pattern": ["error"],
        "no-eq-null": ["error"],
        "no-eval": ["error"],
        "no-extend-native": ["error"],
        "no-extra-bind": ["error"],
        "no-extra-label": ["error"],
        "no-fallthrough": ["error"],
        "no-floating-decimal": ["error"],
        "no-implicit-coercion": ["error"],
        "no-implicit-globals": ["error"],
        "no-implied-eval": ["error"],
        "no-invalid-this": ["error"],
        "no-iterator": ["error"],
        "no-labels": ["error"],
        "no-lone-blocks": ["error"],
        "no-loop-func": ["error"],
        "no-magic-numbers": ["off"],
        "no-multi-spaces": ["error"],
        "no-multi-str": ["error"],
        "no-native-reassign": ["error"],
        "no-new": ["error"],
        "no-new-func": ["error"],
        "no-new-wrappers": ["error"],
        "no-octal": ["error"],
        "no-octal-escape": ["error"],
        "no-param-reassign": ["error"],
        "no-proto": ["error"],
        "no-redeclare": ["error"],
        "no-return-assign": ["error"],
        "no-script-url": ["error"],
        "no-self-assign": ["error"],
        "no-self-compare": ["error"],
        "no-sequences": ["error"],
        "no-throw-literal": ["error"],
        "no-unmodified-loop-condition": ["error"],
        "no-unused-expressions": ["error"],
        "no-unused-labels": ["error"],
        "no-useless-call": ["error"],
        "no-useless-concat": ["error"],
        "no-useless-escape": ["error"],
        "no-void": ["error"],
        "no-warning-comments": ["warn"],
        "no-with": ["error"],
        "radix": ["error"],
        "vars-on-top": ["error"],
        "wrap-iife": ["error"],
        "yoda": ["error", "never"],

        "strict": ["off", "safe"],
        "init-declarations": ["off", "never"],
        "no-catch-shadow": ["error"],
        "no-delete-var": ["error"],
        "no-label-var": ["error"],
        "no-restricted-globals": ["error"],
        "no-shadow": ["error"],
        "no-shadow-restricted-names": ["error"],
        "no-undef": ["error"],
        "no-undef-init": ["error"],
        "no-undefined": ["error"],
        "no-unused-vars": ["error"],
        "no-use-before-define": ["error"],

        "callback-return": ["error"],
        "global-require": ["error"],
        "handle-callback-err": ["error"],
        "no-mixed-requires": ["error"],
        "no-new-require": ["error"],
        "no-path-concat": ["error"],
        "no-process-env": ["error"],
        "no-process-exit": ["error"],
        "no-restricted-modules": ["error"],
        "no-sync": ["error"],

        "array-bracket-spacing": ["error", "never"],
        "block-spacing": ["error", "never"],
        "brace-style": ["error", "1tbs"],
        "camelcase": ["error"],
        "comma-dangle": ["error", "never"],
        "comma-spacing": ["error", { "before": false, "after": true }],
        "comma-style": ["error", "last"],
        "computed-property-spacing": ["error", "never"],
        "consistent-this": ["error"],
        "eol-last": ["error"],
        "func-names": ["error", "always"],
        "func-style": ["error", "expression"],
        "id-blacklist": ["error", "err"],
        "id-length": ["error", {"min": 1, "max": 30}],
        "id-match": ["off", ""],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "jsx-quotes": ["error", "prefer-double"],
        "key-spacing": ["error"],
        "keyword-spacing": ["error"],
        "linebreak-style": ["off", "unix"],
        "lines-around-comment": ["off"],
        "max-depth": ["error", 4],
        "max-len": ["error", 100],
        "max-lines": ["error", 5000],
        "max-nested-callbacks": ["error", 3],
        "max-params": ["error", 3],
        "max-statements": ["error", 30],
        "max-statements-per-line": ["error", { "max": 1 }],
        "new-cap": ["error"],
        "new-parens": ["error"],
        "newline-after-var": ["off", "always"],
        "newline-before-return": ["off"],
        "newline-per-chained-call": ["error"],
        "no-array-constructor": ["error"],
        "no-bitwise": ["error"],
        "no-continue": ["error"],
        "no-inline-comments": ["error"],
        "no-lonely-if": ["error"],
        "no-mixed-operators": ["error"],
        "no-mixed-spaces-and-tabs": ["error"],
        "no-multiple-empty-lines": ["error", { "max": 2, "maxBOF": 1, "maxEOF": 1 }],
        "no-negated-condition": ["error"],
        "no-nested-ternary": ["error"],
        "no-new-object": ["error"],
        "no-plusplus": ["error"],
        "no-restricted-syntax": ["error", "WithStatement"],
        "no-spaced-func": ["error"],
        "no-ternary": ["off"],
        "no-trailing-spaces": ["error"],
        "no-underscore-dangle": ["error"],
        "no-unneeded-ternary": ["error"],
        "no-whitespace-before-property": ["error"],
        "object-curly-newline": ["error", {"multiline": true}],
        "object-curly-spacing": ["error", "always"],
        "object-property-newline": ["error"],
        "one-var": ["error", "always"],
        "one-var-declaration-per-line": ["error", "initializations"],
        "operator-assignment": ["error", "always"],
        "operator-linebreak": ["error", "after"],
        "padded-blocks": ["error", "never"],
        "quote-props": ["error", "as-needed"],
        "quotes": ["error", "double"],
        "require-jsdoc": ["error", {
            "require": {
                "FunctionDeclaration": true,
                "MethodDefinition": false,
                "ClassDeclaration": false
                }
            }
        ],
        "semi": ["error", "never"],
        "semi-spacing": ["error", {"before": false, "after": true}],
        "sort-vars": ["error"],
        "space-before-blocks": ["error", "always"],
        "space-before-function-paren": ["error", "never"],
        "space-in-parens": ["error", "never"],
        "space-infix-ops": ["error"],
        "space-unary-ops": ["error"],
        "spaced-comment": ["error"],
        "unicode-bom": ["error", "never"],
        "wrap-regex": ["error"],

        "arrow-body-style": ["warn", "as-needed", { "requireReturnForObjectLiteral": true }],
        "arrow-parens": ["error", "as-needed"],
        "arrow-spacing": ["error", { "before": true, "after": true }],
        "constructor-super": ["error"],
        "generator-star-spacing": ["error", {"before": true, "after": true}],
        "no-class-assign": ["error"],
        "no-confusing-arrow": ["error"],
        "no-const-assign": ["error"],
        "no-dupe-class-members": ["error"],
        "no-duplicate-imports": ["error"],
        "no-new-symbol": ["error"],
        "no-restricted-imports": ["error"],
        "no-this-before-super": ["error"],
        "no-useless-computed-key": ["error"],
        "no-useless-constructor": ["error"],
        "no-useless-rename": ["error"],
        "no-var": ["error"],
        "object-shorthand": ["error"],
        "prefer-arrow-callback": ["error"],
        "prefer-const": ["off"],
        "prefer-reflect": ["error"],
        "prefer-rest-params": ["error"],
        "prefer-spread": ["error"],
        "prefer-template": ["error"],
        "require-yield": ["error"],
        "rest-spread-spacing": ["error", "never"],
        "sort-imports": ["error", {
            "ignoreCase": false,
            "ignoreMemberSort": false,
            "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
        }],
        "template-curly-spacing": ["error", "never"],
        "yield-star-spacing": ["error", {"before": true, "after": false}]
    }
}
