.el {
    color: black;
}

.el-a {
    color: black;
}

.test.el-1 {
    color: black;
}

.el-2 {
    color: black;
}

.el-3.test {
    color: black;
}

.eL-4 {
    color: black;
}

.ell-5 {
    color: black;
}

.test.dl {
    color: black;
}

.dl.test {
    color: black;
}

.al {
    color: black;
}
